# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore proprietary galleria
sites/all/libraries/galleria/themes/miniml

# Ignore private backup dir
sites/default/private-files
